.red-text{
    color: red;
 }
 #blue-background{
    background-color: #0000ff;
 }
 #green-background{
    background-color: rgb(0, 255, 0);
 }
 body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Consolas';
    color: white;
 }
.flex-container{
   display: flex 
}
.background{
   background-image: url('images/background.jpg');
}
.border{
   border: 5px solid white; 
}
p{
   font-family: Courier; 
   color: white;
}
.synthwave{
   font-family: arial; 
   background: -webkit-linear-gradient(#e99ca7, #b45507);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
.rotate{
   animation: rotation 2s infinite linear; 
}
.rotate {
   animation: rotation 8s infinite linear;
 }
 
 @keyframes rotation {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(359deg);
   }
 }